/*---------------------------------------------------------------------------*/
/*                                 Common                                    */
/*---------------------------------------------------------------------------*/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  background-color: #111;
  font: 14px Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}

p {
  margin: .8em 0;
  line-height: 135%;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

table {
  font-size: inherit;
}

blockquote {
  margin-left: 1em;
  font-size: 110%;
  color: grey;
  font-style: italic;
}

ul.posts {
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

  ul.posts a {
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-size: 150%;
  }

    ul.posts a:hover {
      border-bottom: 1px solid white;
    }

  ul.posts li {
    margin-bottom: 1em;
  }

  ul.posts span {
    color: darkgrey;
    font-size: 90%;
  }

  ul.posts code {
    font-size: 70%;
  }

/*---------------------------------------------------------------------------*/
/*                                  Home                                     */
/*---------------------------------------------------------------------------*/

.homepage {
  text-align: center;
  position: relative;
  top: 38%;
  color: dimgrey;
}

.homepage p {
  margin-top: .5em;
  word-spacing: 200%;
}

.homepage a {
  color: grey;
  text-decoration: none;
  font-size: 120%;
}

.homepage a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.homepage h1 {
  color: white;
  font-size: 600%;
  margin-bottom: .15em;
}

.homepage h2 {
  font-size: 170%;
  font-weight: normal;
  color: lightgrey;
  margin-bottom: .5em;
}

/*---------------------------------------------------------------------------*/
/*                                  Site                                     */
/*---------------------------------------------------------------------------*/

.wrap {
  position: relative;
  min-height: 100%;
}

.site {
  max-width: 40em;
  margin-left: 30%;
}

  .site .meta {
    color: #aaa;
  }

.content {
  padding: 2em 1em 2em;
}

.content a {
  border-bottom: 1px dashed whitesmoke;
}

.content a:hover {
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  text-decoration: none;
}

.title {
  margin-bottom: .5em;
  font-size: 200%;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  right: 70%;
  margin-top: 5em;
  padding: 0 .5em;

  text-align: right;
  line-height: 130%;
  font-size: 120%;
  overflow: auto;
}

  .sidebar p {
    margin: 0.4em 0;
  }

  .sidebar a {
    color: grey;
    font-weight: normal;
    text-decoration: none;
  }

    .sidebar a:hover {
      color: lightgrey;
      text-decoration: underline;
    }

  .sidebar a.home {
    color: grey;
    font-weight: bold;
    padding-left: 0.4em;
    padding-bottom: 0.12em;
  }

    .sidebar a.home:hover {
      color: inherit;
    }

.footer {
  position: absolute;
  width: 100%;
  bottom: 1em;
  text-align: center;
  font-size: 75%;
  color: dimgrey;
}

  .footer a {
    color: grey;
  }

/*---------------------------------------------------------------------------*/
/*                                  Posts                                    */
/*---------------------------------------------------------------------------*/

#post {

}

  /* standard */

  pre,
  code {
    border: 1px solid dimgrey;
    border-radius: 3px;
    background-color: #333;
    font-size: 10pt;
    color: whitesmoke;
  }

  code {
    padding: 0 .5em;
  }

  pre {
    padding: .5em .5em;
  }

    pre code {
      border: none;
      padding: 0;
    }

  ul,
  ol {
    margin-left: 1.35em;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
