<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href='https://ko-fi.com/L4L4J6WSK' target='_blank'><img height='36' style='border:0px;height:36px; margin-bottom: 1rem;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        <ul class="contact-list">
          <li class="p-name footer-heading">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
        <a href="/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg> <span>Subscribe</span></a>
      </div>
    </div>

  </div>

</footer>
