---
---

@import "minima";

/*
 * CSS Overrides
 * -------------
 */

/* Remote fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/* Change fonts, ensure kerning is on */
body {
    font-family: "Lato";
    h1, .post-link {
        font-family: "Lora";
    }
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-variant: common-ligatures contextual proportional-nums oldstyle-nums;
}
pre, code {
    font-family: "Source Code Pro";
    font-size: 14px;
    /* Remove hue */
    background-color: #efefef;
}

/* Fix code not having a space in lists */
ul, ol {
    pre, code {
        margin-right: 0.25em;
    }
}

.post-content {
    /* More spacious lists on desktop */
    ul, ol {
        @media screen and (min-width: 800px) {
            margin-left: 35px;
            li {
                padding-left: 8px;
            }
        }
    }

    /* Nicer subheadings */
    h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
        margin-top: 30px;
        font-size: inherit;
        font-variant: all-small-caps; letter-spacing: 0.08em;
    }
    h2 { font-weight: 900; }
    h3 { font-weight: 700; }
    h4 { font-weight: 400; }
    h5, h6 { font-weight: 300; }
}
