---
---

@import "minima";

/*
 * CSS Overrides
 * -------------
 */

/* Remote fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Miriam+Libre&family=Source+Code+Pro&display=swap');

/* Change fonts, ensure kerning is on */
body {
    font-family: "Lato";
    .post-title, .post-link {
        font-family: "Miriam Libre";
        letter-spacing: 0px;
        line-height: 1.3;
    }
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-variant: common-ligatures contextual proportional-nums oldstyle-nums;
}
pre, code {
    font-family: "Source Code Pro";
    font-size: 14px;
    /* Remove hue */
    background-color: #efefef;
}

.carrousel {
    display: flex;
    overflow-x: scroll;
    padding: 10px; align-items:
    center; max-height: 500px;
    gap: 10px;
}

.carrousel img {
    max-height: 400px;
    max-width: 300px;
}

.caption-image {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-style: italic;
}

/* Fix code not having a space in lists */
ul, ol {
    pre, code {
        margin-right: 0.25em;
    }
}

.post-content {
    /* More spacious lists on desktop */
    ul, ol {
        @media screen and (min-width: 800px) {
            margin-left: 35px;
            li {
                padding-left: 8px;
            }
        }
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 5rem;
        margin-bottom: 1rem;
        // font-family: "Miriam Libre";
        letter-spacing: 0px;
        line-height: 1.3;
    }
    /* Nicer subheadings */
    h2, h3, h4, h5, h6 {
        margin-top: 3rem;
        font-size: inherit;
        font-variant: all-small-caps; letter-spacing: 0.08em;
    }
    h2 { font-weight: 900; }
    h3 { font-weight: 700; }
    h4 { font-weight: 400; }
    h5, h6 { font-weight: 300; }
}
